.loginContainer {
  background: #d0d0d0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.signUpContainer {
  background: #d0d0d0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
}

.signUpBox {
  margin: 50px auto auto;
  padding: 20px;
  height: 700px;
  width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 8px 0px;
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signUpBoxIn {
  display: flex;
}

.inputLeftText {
  margin: auto 5px;
  width: 90px;
  text-align: right;
}

.loginBox {
  margin: 80px auto auto;
  padding: 20px;
  height: 600px;
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 8px 0px;
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.googleBtn {
  outline: none;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgb(223, 105, 85);
  border: 1px solid rgb(224, 224, 224);
  color: #fff;
  width: 266px;
  height: 50px;
  cursor: pointer;
  margin-bottom: 15px;
}

.googleBtn > svg {
  vertical-align: middle;
}

.googleBtnTxt {
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
  font-family: '나눔고딕', 'NanumGothic', '돋움', 'Dotum';
  font-weight: bold;
  font-size: 0.95rem;
}

input[type='text'],
input[type='email'],
input[type='text'],
input[type='password'],
.btn-login,
.btn-signup {
  width: 266px;
  height: 40px;
  font-size: 0.95rem;
  padding: 0.5rem;
  margin: 0.4rem;
  font-family: 'Malgun Gothic';
}

.alert-box {
  font-size: 0.95rem;
  color: #e43a40;
  margin: 10px auto auto;
  font-style: italic;
}

.additionalNotice {
  font-size: 0.95rem;
  margin: 15px auto auto;
}

.additionalNotice.link {
  display: inline-block;
  margin-left: 4px;
}

.far,
.fas {
  color: rgb(194, 194, 194);
}

.fa-edit {
  color: #fff;
}

.valid {
  color: rgb(51, 173, 51);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.349);
}
