li {
  list-style: none;
}
.myProfile-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tag_lists {
  display: flex;
}
.tag_lists .tag {
  background: #333;
  color: #fff;
  padding: 5px;
  margin-left: 3px;
  border-radius: 10px;
}
.myProfile-left > div {
  margin-top: 10px;
}
.myProfile-border {
  width: 100%;
  max-width: 480px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 15px;
  box-shadow: 7px 3px 23px -2px rgb(0 0 0 / 30%);
}
.myProject_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 470px;
  border: 1px solid #ddd;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 10px;
}
.myProject_right button {
  margin-left: 5px;
  border: none;
  background: cornflowerblue;
  outline: none;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup_inner {
  position: relative;
  padding: 20px;
  width: 100%;
  max-width: 580px;
  background: #fff;
}
.close_popup {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: darkblue;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}
.volunteer_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.userList {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.applied-border {
  width: 100%;
  max-width: 480px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 15px;
  box-shadow: 7px 3px 23px -2px rgb(0 0 0 / 30%);
}
.applied_report {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
}
.volunteer_lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 10px;
}
.volunteer_lists button {
  margin-left: 5px;
  border: none;
  background: cornflowerblue;
  outline: none;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}
