#logo {
  width: 9rem;
  vertical-align: middle;
}
#nav-body {
  background-color: white;
  width: 100%;
  height: 5rem;
  position: sticky;
  top: 0;
  border-bottom: solid 1px rgb(212, 212, 212);
  display: grid;
  place-items: center;
}
#title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-right: auto;
  margin-left: 20px;
}
#titleName {
  vertical-align: middle;
}
#menu {
  margin: 0.6rem;
  right: 0;
  font-weight: 300;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu > div {
  display: flex;
  width: 264px;
  margin-right: 50px;
  position: relative;
}
#menu > div > select {
  position: relative;
  margin: auto;
  left: 80px;
  border: none;
  outline: none;
  background: white;
  flex: 1 1 auto;
}
#menu > div > button {
  position: relative;
  right: 61px;
  margin: auto;
  border: none;
  padding: 6px 10px;
  border-radius: 20px;
  background: none;
  color: #fff;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  flex: 1 1 auto;
  outline: none;
  cursor: pointer;
}
#navBtnLeft,
#navBtnRight {
  text-decoration: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.4rem;
  padding: 0.7rem;
  display: inline-block;
  border: none;
}
#navBtnLeft {
  color: #fff;
  background-color: #5e4955;
  border: none;
}
#navBtnLeft:hover {
  color: #000;
  background-color: #5e495525;
  border: none;
}
#navBtnRight {
  color: #000;
  background-color: #f9dc5c;
  border: none;
  outline: none;
  cursor: pointer;
}
#navBtnRight:hover {
  color: #000;
  background-color: #f9dc5c69;
  border: none;
}
input[type="search"] {
  font-size: 0.95rem;
  border-radius: 20px;
  border: 1px solid rgb(153, 153, 153);
  padding-left: 95px;
  height: 44px;
  width: 15rem;
  margin-right: 1rem;
  outline: none;
  font-family: "Malgun Gothic";
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto -42px auto auto;
}

.search-icon {
  margin: auto;
}
