/* .project {
  border: black solid 1px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 900px;
}
.btn {
  position: relative;
  margin: 6px 12px 6px 0;
  line-height: 24px;
  padding: 0 10px;
  border: black;
  border-radius: 15px;
  color: #303441;
  background-color: #fff;
  font-size: 13px;
}
.popup {
  position: fixed;

  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640;
  background-color: #fff;
}

.popup-inner .closse-btn {
  position: absolute;
  top: 16px;
  right: 16px;
}
form > div > span:first-child {
  display: flex;
  width: 10ch;
  padding: 0 1ch;
}

input[type='text'] {
  display: flex;
  width: 400px;
  font-size: 1.1rem;
  padding: 0.4rem;
  margin: 0.4rem;
}
textarea {
  display: flex;
  width: 400px;
  height: 100px;
  font-size: 1.1rem;
  padding: 0.4rem;
  margin: 0.4rem;
} */
