* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

#logo {
  width: 9rem;
  vertical-align: middle;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav-body {
  background-color: white;
  width: 100%;
  height: 5rem;
  position: sticky;
  top: 0;
  border-bottom: solid 1px rgb(212, 212, 212);
  display: grid;
  place-items: center;
}

#title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-right: auto;
  margin-left: 20px;
}

#titleName {
  vertical-align: middle;
}

#menu {
  margin: 0.6rem;
  right: 0;
  font-weight: 300;
  position: absolute;
}

#navBtnLeft,
#navBtnRight {
  text-decoration: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.4rem;
  padding: 0.7rem;
  display: inline-block;
  border: none;
}

#navBtnLeft {
  color: #fff;
  background-color: #5e4955;
  border: none;
}

#navBtnLeft:hover {
  color: #000;
  background-color: #5e495525;
  border: none;
}

#navBtnRight {
  color: #000;
  background-color: #f9dc5c;
  border: none;
  outline: none;
  cursor: pointer;
}

#navBtnRight:hover {
  color: #000;
  background-color: #f9dc5c69;
  border: none;
}

form > div > span:first-child {
  display: inline-block;
  width: 12ch;
  text-align: right;
  padding: 0 1ch;
}

input[type='text'],
input[type='email'],
input[type='text'],
input[type='password'] {
  width: 300px;
  font-size: 1rem;
  padding: 0.4rem;
  margin: 0.4rem;
}
input[type='search'] {
  border-radius: 20px;
  border: 1px solid rgb(153, 153, 153);
  padding-left: 20px;
  height: 2.8rem;
  width: 15rem;
  margin-right: 0.4rem;
  outline: none;
  font-family: 'Malgun Gothic'; /* 한글 베이스라인으로 고정 */
}

.btn-login {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0.5rem 0 0 7.5rem;
  width: 300px;
}

.alert-box {
  color: #e43a40;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  width: 340px;
  margin-left: 100px;
}

.socialloginBtn {
  width: 255px;
  height: 40px;
  border-radius: 5px;
  background-color: #e43a40;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 10px;
}

#googleLogo {
  display: inline-block;
  margin-left: 120px;
  padding-right: 15px;
  width: 58px;
  margin-bottom: -16px;
  margin-right: -5px;
}

.loginLine {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.loginH2 {
  margin-left: 90px;
}

#linkToSignup {
  display: block;
  margin-left: 70px;
  margin-top: 20px;
}
